//colors
$color-primary: #008b8b;

//margins
$margin-xs: .4rem;
$margin-sm: .2rem;
$margin-md: .8rem;
$margin-lg: .16rem;
//padding
$padding-xs: .4rem;
$padding-sm: .2rem;
$padding-md: .8rem;
$padding-lg: .16rem;